.cards-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.card {
width: 20rem; 
height: 58rem; 
transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
transform: scale(1.05); 
}

.card-title {
margin-bottom: 10px;
font-weight: bold;
text-align: center;
}

.card-text {
flex-grow: 1;
text-align:justify;
}

.btn-custom {
background-color: rgb(255, 227, 83);
color: black;
border: none;
padding: 15px 40px;
border-radius: 5px;
cursor: pointer;
font-weight: bold;
align-self: center; 
}

.btn-custom:hover {
background-color: rgb(184, 155, 10);
}
